@model PlaylistStore.Models.SongModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{

        @Html.DisplayNameFor(Model => Model.Title)
    <div>
        @Html.TextBoxFor(model => Model.Title)
    </div>
    @Html.DisplayNameFor(Model => Model.Singer)
    <div>
        @Html.TextBoxFor(model => Model.Singer)
    </div>
    @Html.DisplayNameFor(Model => Model.Year)
    <div>
        @Html.TextBoxFor(model => Model.Year)
    </div>
    @Html.DisplayNameFor(Model => Model.Writer)
    <div>
        @Html.TextBoxFor(model => Model.Writer)
    </div>
    <div>
        @Html.DropDownListFor(model => Model.GenreId, Model.Genres)
    </div>
    <div>
        <br />
        <input type="submit" value="Submit"/>
    </div>
}
